@import "tailwindcss";
@import "@fontsource/balsamiq-sans";

.hoverOpa:hover {
    opacity: 80%;
}

/*ANIMACIONES*/

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-width: 0.25em;
    border-color: currentColor transparent transparent transparent;
    border-radius: 50%;
    animation: spinner-border 1s linear infinite;
}

@keyframes spinner-border {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navScroll {
    animation: navScroll linear both;
    animation-timeline: scroll(root);
    animation-range: 0 1000px;
}

@keyframes navScroll {
    to {
        background-color: #FFE2E2;
    }
    from {
        background-color: transparent;
    }
}

.showImg {
    animation: showImg linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

@keyframes showImg {
    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
    from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.8;
    }
}

.pop {
    opacity: 0;
    transform: translateY(50px) scale(0.9);
    animation: pop 0.5s ease-out forwards;
}

@keyframes pop {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.fadeInPage {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.pulsar{
    animation: pulsar infinite 3s ease-in both;
}

@keyframes pulsar {
    0% {
        scale: 1;
    }
    50% {
        scale: 0.95;
    }
    100% {
        scale: 1;
    }
}