---
import Layout from "../layouts/layout.astro";
---

<Layout title="Gato persa himalayo - Ágatha gatos persa" description="Conoce al encantador Gato Persa Himalayo, una raza única con un pelaje impresionante y una personalidad cariñosa. Descubre más sobre esta maravillosa raza en nuestro criadero.">
    <section class="backdrop-blur-[5px] text-[#2E2E2E] min-h-screen">
		<div class="bg-[#FF6B6B] h-40 mt-20 flex items-center justify-center">
			<h1 class="text-[30px] font-bold text-white">Gato persa himalayo</h1>
		</div>
		<div class="h-full py-20 flex items-center justify-center">
			<h1 class="text-3xl">No hay gatos disponibles</h1>
		</div>
	</section>
</Layout>