---
import Layout from "../layouts/Layout.astro";
import img from '../assets/img/test.jpg';
---

<Layout title="Gato persa europeo - Ágatha gatos persa" description="Conoce al encantador Gato Persa Europeo, una raza conocida por su belleza y carácter dulce. Descubre más sobre esta maravillosa raza en nuestro criadero.">
	<main class="bg-[#f1eeee] text-[#2E2E2E] min-h-screen pb-30">
		<div class="bg-[#FF6B6B] h-40 mt-30 flex items-center justify-center">
			<h1 class="text-[30px] font-bold text-white">Gato persa europeo</h1>
		</div>
		<section class="bg-[#f1eeee] text-[#2E2E2E] mt-25 px-4 h-[500px] flex flex-col md:flex-row justify-center items-center gap-20 lg:gap-40 transition-all duration-300">
			<img src={img.src} alt="Gato Persa Europeo" class="border-3 p-2 h-90 lg:h-110 w-90 lg:w-110 object-cover rounded-lg" />
			<div class="flex flex-col items-left justify-center text-justify text-[20px] lg:text-2xl">
				<p>Raza: Persa Europeo</p>
				<p>Nombre: Sirius</p>
				<p>Género: Masculino</p>
				<p>Edad: 01 Semana (26/05/2025)</p>
				<div class="flex gap-3 sm:gap-6 mt-4">
					<a href="/contacto" class="text-[15px] sm:text-[18px] inline-block hover:bg-[#FF6B6B] border-2 border-[#FF6B6B] text-[#FF6B6B] hover:text-white font-semibold py-7 sm:py-5 px-1 sm:px-3 rounded-full transition-all duration-300 shadow-lg">Adoptar gatito</a>
					<a href="/gatosDisponibles" class="text-[15px] sm:text-[18px] inline-block bg-[#FF6B6B] hover:bg-[#e65c5c] text-white font-semibold py-7 sm:py-5 px-1 sm:px-3 rounded-full transition-all duration-300 shadow-lg">Ver gatos disponibles</a>
				</div>
			</div>
		</section>
	</main>
</Layout>