---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gato persa chinchilla - Ágatha gatos persa" description="Conoce al encantador Gato Persa Chinchilla, una raza conocida por su belleza y carácter dulce. Descubre más sobre esta maravillosa raza en nuestro criadero.">
    <section class="bg-[#f1eeee] text-[#2E2E2E] min-h-screen">
		<div class="bg-[#FF6B6B] h-40 mt-30 flex items-center justify-center">
			<h1 class="text-[30px] font-bold text-white">Gato Persa Chinchilla</h1>
		</div>
		<div class="h-full py-20 flex items-center justify-center">
			<h1 class="text-3xl">No hay gatos disponibles</h1>
		</div>
	</section>
</Layout>