---
import Layout from "../layouts/Layout.astro";
import imgGatoPelaje from '../assets/img/gatoConPelajePregunta.jpg';
import imgDurmiendo from '../assets/img/gatoDurmiendo.jpg';
import imgGatoComiendo from '../assets/img/gatoComiendo.jpg';
import imgGatoJugando from '../assets/img/gatoPersaJugando.jpg';

const articles = [
	{
		img: imgGatoPelaje,
		alt: "gato con pelaje",
		h2: "¿Cómo cuidar el pelaje de un gato persa?",
		p: "El pelaje largo del gato persa requiere cepillado diario para evitar enredos y bolas de pelo. También se recomienda un baño mensual y visitas regulares al veterinario."
	},
	{
		img: imgDurmiendo,
		alt: "gato persa durmiendo",
		h2: "¿Con qué frecuencia debo llevar a mi gato persa al veterinario?",
		p: "Los gatos persas deben ser llevados al veterinario al menos una vez al año para chequeos generales y vacunaciones. Si notas algún cambio en su comportamiento o salud, consulta a un veterinario de inmediato."
	},
	{
		img: imgGatoComiendo,
		alt: "gato persa comiendo",
		h2: "¿Qué tipo de alimentación es mejor para un gato persa?",
		p: "Una dieta equilibrada y rica en proteínas es esencial para los gatos persas. Se recomienda comida seca de alta calidad y, ocasionalmente, comida húmeda para mantenerlos hidratados."
	},
	{
		img: imgGatoJugando,
		alt: "gato persa jugando",
		h2: "¿Cómo puedo mantener a mi gato persa activo y entretenido?",
		p: "Proporciona juguetes interactivos, rascadores y tiempo de juego diario. Los gatos persas disfrutan de actividades suaves y juegos tranquilos."
	}
]
---

<Layout
	title="Preguntas - Ágatha gatos persa"
	description="Preguntas frecuentes sobre gatos persa"
	keywords="gatos persa, preguntas frecuentes, cuidados de gatos persa"
>
	<main class="backdrop-blur-[5px] text-[#2E2E2E] min-h-screen pb-10">
		<div class="bg-[#FF6B6B] h-40 mt-30 flex items-center justify-center">
			<h1 class="text-[30px] font-bold text-white">
				Preguntas frecuentes
			</h1>
		</div>
		<section
			arial-label="Preguntas frecuentes"
			class="max-w-[325px] sm:max-w-[600px] md:max-w-[700px] xl:max-w-[1000px] 2xl:max-w-screen-2xl mx-auto p-6 sm:p-20 mt-10 bg-white/90 rounded-lg shadow-lg pop"
		>
			{articles.map((articles) => (
				<article class="flex flex-col xl:flex-row gap-14 items-center mb-6 hover:transform hover:scale-105 p-2 transition-all duration-300 ease-in-out">
					<img src={articles.img.src} alt={articles.alt} class="p-2 h-75 w-75 object-cover rounded-lg bg-[#FF6B6B]"/>
					<div>
						<h2 class="text-2xl sm:text-3xl font-bold mb-2 text-[#FF6B6B]">{articles.h2}</h2>
						<p class="mb-12 text-[15px] sm:text-[20px]">{articles.p}</p>
					</div>
				</article>
			))}
		</section>
	</main>
</Layout>
