<footer class="footer sm:footer-horizontal bg-[#FF6B6B] text-neutral-content p-10 sm:justify-items-center">
  <nav>
    <h6 class="footer-title">Links</h6>
    <a href="/gatos-disponibles" class="link link-hover">Gatos</a>
    <a href="/informacion" class="link link-hover">Información</a>
    <a href="/productos" class="link link-hover">Productos</a>
    <a href="/contacto" class="link link-hover">Contacto</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a href="/footer/aviso-legal" class="link link-hover">Aviso Legal</a>
    <a href="/footer/politica-privacidad" class="link link-hover">Política de Privacidad</a>
    <a href="/footer/politica-cookies" class="link link-hover">Política de Cookies</a>
  </nav>
</footer>
<footer class="footer bg-[#e65e5e] px-10 py-4">
  <aside class="grid-flow-col items-center">
    <p>© 2025 Ágatha Gatos Persa. Todos los derechos reservados.</p>
  </aside>
</footer>