<footer class="bg-[#FF6B6B] text-white py-4">
    <div class="max-w-screen-xl mx-auto px-4">
        <p class="text-center">© 2025 Ágatha Gatos Persa. Todos los derechos reservados.</p>
    </div>
</footer>