<nav class="float-left bg-white h-30 w-full justify-center flex items-center fixed top-0 z-10">
    <ul class="flex items-center justify-center gap-20 text-[20px]">
        <li class=""><a href="/">Inicio</a></li>
        <li class=""><a href="/gatosDisponibles">Gatos disponibles</a></li>
        <li class=""><a href="/about">Sobre nosotros</a></li>
        <li class=""><a href="/contact">Contacto</a></li>
    </ul>
</nav>