---
import Layout from "../../layouts/layout.astro";

const articles = [
	{
		h1: "Objeto",
		p: "El presente Aviso Legal regula el uso del sitio web agathagatospersa.com, propiedad de Nicolás Adrián Bernal Bermúdez. La navegación por este sitio web atribuye la condición de usuario e implica la aceptación plena y sin reservas de todas las disposiciones incluidas en este Aviso Legal."
	},
	{
		h1: "Propiedad intelectual",
		p: "Todos los contenidos de la web (textos, imágenes, logotipos, vídeos, etc.) son propiedad del titular o tienen licencia de uso. Está prohibida su reproducción, distribución o transformación sin autorización expresa."
	},
	{
		h1: "Enlaces externos",
		p: "Este sitio puede contener enlaces a sitios de terceros. No nos responsabilizamos del contenido, seguridad o funcionamiento de dichos sitios."
	},
	{
		h1: "Responsabilidad",
		p: "El titular no se hace responsable de posibles errores en los contenidos, falta de disponibilidad del sitio o transmisión de virus. El uso de este sitio web se realiza bajo responsabilidad del usuario."
	},
]
---

<Layout
	title="Aviso legal | Ágatha Gatos Persas"
	description="Aviso legal de Ágatha Gatos Persas"
	keywords="gatos persa, aviso legal, legal, aviso"
>
	<main class="backdrop-blur-[5px] text-[#2E2E2E] min-h-screen pb-10">
		<div class="bg-[#FF6B6B] h-40 mt-20 flex items-center justify-center">
			<h1 class="text-[30px] font-bold text-white text-center">
				Aviso legal
			</h1>
		</div>
		<section
			arial-label="Aviso legal"
			class="max-w-[325px] sm:max-w-[600px] md:max-w-[700px] xl:max-w-[1000px] 2xl:max-w-[1100px] mx-auto p-6 sm:p-20 mt-10 bg-white/90 rounded-lg shadow-lg pop"
		>
			{articles.map((articles) => (
				<h1 class="text-3xl font-bold mb-4 text-[#FF6B6B]">{articles.h1}</h1>
				<p class="mb-8 text-[15px] sm:text-[20px]">{articles.p}</p>
			))}
		</section>
	</main>
</Layout>
